<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><h4 class="titlehome">La Bulle</h4>
                    <h5 class="titlehome">Créateur de bonheur visuel</h5></a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="header__nav__option">
                    <nav class="header__nav__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Accueil</a></li>
                            <li><a href="{{ path('portfolio') }}">Portfolio</a></li>
                            <li><a href="{{ path('services') }}">Services</a></li>
                            <li><a href="{{ path('quisommesnous') }}">Qui sommes nous</a></li>
                            <li><a  href="{{ path('contact') }}">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="header__nav__social">
                        <a href="https://github.com/fredericdww20" target="_blank"><i class="git-social-icon fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/frederic-portemer-40a079167/" target="_blank"><i class="git-social-icon fa fa-linkedin"></i></a>
                        <a href="#"><i class="git-social-icon fa fa-envelope"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div id="mobile-menu-wrap"></div>
      </div>
  </header>

  <!-- Header End -->